*{
    font-family: 'Cairo', sans-serif !important;
}

.sn-background-light-main {
    background-color: #00b4ff !important;
}

.sn-background-dark-main {
    background-color: #15235e !important;
}

.sn-color-dark-main {
    color: #15235e !important;
}


.sn-color-light-main {
    color: #00b4ff !important;
}


.sn-border-none {
    border: none !important;
}

.sn-color-secondary{
    color: #575757
}

.sn-button-primary{
    color: white;
    background-color: #00b4ff;
    border-radius: 12px;
    border: none;
    padding: 15px 30px;
    font-weight: bold;
}

.sn-button-secondary{
    color: #00b4ff;
    background-color: white;
    border-radius: 12px;
    border: 1px solid #00b4ff;
    padding: 15px 30px;
    font-weight: bold;
}

.hover\:border-primary:hover{
    border-color: #00b4ff;
}

.sn-border-main{
    border-color: #00b4ff;
}
.grid-cols-4{grid-template-columns:repeat(4,minmax(0,1fr))}

@media (max-width: 480px) {
    .banner {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .top-collection-header {
        font-size: 30px !important;
        margin-top: 20px !important;
    }

    .categories-carousel {
        height: 120px !important;
        width: 120px !important;
    }

    .phone-hidden {
        display: none;
    }

    .container{
        padding: 0 30px
    }
    .categories-carousel-text{
        font-size: 12px;
    }
    .gap-05-mobile{
        gap: 0rem;
    }
    .products-carousel{

    }
}
