.sn-background-light-main{
    background-color: #00b4ff !important;
}

.sn-background-dark-main{
    background-color: #15235e !important;
}

.sn-color-dark-main{
    color: #15235e !important;
}


.sn-color-light-main{
    color: #00b4ff !important;
}


.sn-border-none{
    border: none !important;
}

@media (min-width:480px){
    .banner{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}
